<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form action="/signup" method="post" id="form" enctype="multipart/form-data">
        <div>
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Enter your Name" id="name">
        </div>
        <div>
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Enter your Email" id="email">
        </div>
        <div>
        <label for="photo">Upload Your Photo</label>
        <input type="file" name="photo" id="photo">
        </div>
        <div>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Create Password" id="password">
        </div>
        <div>
        <label for="company">Company Name</label>
        <input type="text" name="company" placeholder="Company" id="company">
        </div>
        <div>
        <input type="button" value="Submit" id="signupbtn"/>
        </div>
    </form>
    <script src="static/signup.js"></script>
</body>
</html>